main{
    width: 1320px;
    margin: auto;
}
.banner img{
    
    width: 100%;
}
.banner{
    
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("Banner\ Image.png");
    margin-top: 50px;
    position: relative;
    

}
.new-year-title{
    max-width: 632px;
    position: absolute;
    top: 0;
    margin-left: 316px;
    margin-top: 150px;
    
}
.new-year{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0%;

}
.new-year-party{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin-top: 0%;

}
/* <!-- Discount Section --> */
.discount{
    width: 800px;
    margin: auto;
    margin-top: 180px;
}
.discount-title-one{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
.discount-title-two{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}
.discount-three{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0;
}
/* MID Night Party */
.midnight-party{
width: 1320px;
height: 600px;
flex-shrink: 0;
display: flex;
position: relative;
justify-content: space-between;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("Vectorrr.png");
}
.midnight-party-content{
    margin-left: 0;
    position: absolute;
    justify-content: space-between;
    margin-top: 126px;
    margin-left: 126px;
}
.midnight-party-welcome{
width: 642px;
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;

}
.midnight-party-description{
width: 697px;
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.join-now{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-right: 550px;
}

.twenty-four-img{
    position: absolute;
    margin-left: 856px;
    margin-top: 83px;
    display: flex;
}

/* location portion */

.location{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    /* background-color: tomato; */
    
    margin-top: 120px;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
}
.location-content{
    width: 550px;
    height: 168px;
    margin-left: 385px;
    margin-top: 100px;
    position: absolute;

    
    
}
.place{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.location-content-title{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0;
    align-items: center;
}
.join-now-button{
width: 167px;
height: 56px;
align-items: center;
border-radius: 8px;
background: #F00;
margin-left: 156px;
margin-top: 48px;


}
button{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
justify-content: center;
border-radius: 8px;
}
/* 
comming-Soon Portion */

.comming-soon{
width: 1320px;
height: 482px;
display: flex;
justify-content: center;
}
.best-offer{
    width: 393px;
    margin: 0;
    margin-right: 70px;
    margin-top: 40px;
}
.best-offer-title{
color: #F00;
/* text-align: center; */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}
.comming-soon-title{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 0;
}
.best-offer-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-top: 0;
margin-bottom: 0;
}
.red-image{
width: 364px;
height: 363px;
flex-shrink: 0;
border-radius: 463px;
border: 15px solid #F00;
}
.red-image img{
width: 364.844px;
height: 364.844px;
flex-shrink: 0;
border-radius: 364.844px;
background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
}
.twenty-four{
    width: 276px;
    margin-left: 118px;
    margin-top: 40px;
}
.twenty-four-title{
color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0;
}
.twenty-four-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-top: 0;
margin-bottom: 0;
}
/* Grid-Section */
.grid-section{
margin-top: 120px;
/* width: 1600px;
height: 7335px; */
margin: auto;
}
.grid-content{
width: 896px;

}
.grid-title{
color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}
.grid-title-two{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 0;
}
.grid-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-top: 22px;
margin-bottom: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 48px;
    gap: 24px;
}
.grid-item{
width: 424px;
height: 450px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
margin-left: 0;
}
.grid-item > img{
    height: 100%;
    width: 100%;
}
/* Subscriber-Section */
.subscribe-section{
width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-top: 120px;
position: relative;
display: flex;
}
/* .subscriber-content{
    width: 896px;
    position: absolute;
    justify-content: center;
    margin: auto;
} */
.sebscriber-image{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    align-items: center;
    margin-top: 80px;
    margin-left: 585px;
}
.subscriber-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
    margin-left: 180px;

}
.subscriber-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 22px;
    width: 883px;
    margin: auto;
    margin-left: 250px;
}
.subscribe-button{
border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;
flex-shrink: 0;
border-color: white;
align-items: center;
}
.subscribe-input{
    border-radius: 50px;
background: #FFF;
width: 648px;
height: 72px;
flex-shrink: 0;
}
.subscriber-content input{
    margin-top: 48px;
    margin-left: 336px;
}


