main{
    width: 1320px;
    margin: auto;
}
.banner img{
    
    width: 100%;
}
.banner{
    
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin-top: 50px;
    position: relative;
    

}
.new-year-title{
    max-width: 632px;
    position: absolute;
    top: 0;
    margin-left: 316px;
    margin-top: 150px;
    
}
.new-year{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0%;

}
.new-year-party{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin-top: 0%;

}
/* <!-- Discount Section --> */
.discount{
    width: 800px;
    margin: auto;
    margin-top: 180px;
}
.discount-title-one{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
.discount-title-two{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}
.discount-three{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0;
}


